.inverse-dropdown{
  background-color: #222;
  border-color: #080808;
}

.inverse-dropdown a{
  color: #999;
}

.inverse-dropdown a :hover{
  color: #fff;
  background-color: #000;
}

#visualization{
  display: block;
  margin: auto;
}

.row{
  width: 100%;
}

body{
  background-color: #A9A9A9;
}

#visualization svg{
  background-color: rgba(255, 59, 63,0.4);
  border-radius: 1rem;
  margin-top: 20px;
}

#utilities{
  width: 100%;
  text-align: center;
}

#xAxisChoice,
#yAxisChoice{
  display: inline-block;
}

.correlRect.selected {
  stroke: #000;
  stroke-width: 2px;
}
.correlAxis .domain {
  display: none;
}
.correlAxis .tick text.selected {
  font-weight: bold;
  font-size: 1.2em;
  fill: #47ff63;
}
.correlAxis .tick line.selected {
  stroke: #47ff63;
}

.tip {
  position: absolute;
  font-size: .8em;
  text-align: center;
}
